Source: debdeploy
Section: admin
Priority: optional
Maintainer: Moritz Muehlenhoff <moritz@wikimedia.org>
Build-Depends: debhelper
Standards-Version: 3.9.6

Package: debdeploy-client
Architecture: all
Depends: lsof, python3-debian, python3-psutil, ${misc:Depends}
Description: Debdeploy central package management (client)
 This is the client package of Debdeploy.

Package: debdeploy-server
Architecture: all
Depends: lsof, python3-debian, cumin, ${misc:Depends}
Description: Debdeploy central package management (server)
 This is the server package of Debdeploy.
